<div style="margin-top:16px; margin-bottom:16px;">
    <form name="search-form" ng-submit="findPlace()">
        <div class="input-group">
            <input type="text" name="start-point-name" class="form-control" ng-model="mapForm.name" required="required" ng-pattern="/^[a-zA-Zа-яА-ЯёЁ\s,.]{3,}$/" pattern="^[a-zA-Zа-яА-ЯёЁ\s,.]{3,}$" title="3 or more symbols" autocomplete="off" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-disabled="search-form.$invalid">Find</button>
            </span>
        </div>
    </form>
</div>
    <div id="map-leaflet" class="map-size"></div>

<div class="text-center">
    <button type="button" class="btn btn-default btn-mini" ng-click="getFeatureCollection()">Build routes</button>
</div>
