/* variables */
.feature-tile {
  background-color: #84c210;
  color: #efefef;
  padding: 0 12px 4px 12px;
  margin-top: 10px;
  border: 1px solid #84c210;
  -moz-transition: background 0.1s ease, color 0.1s ease;
  -o-transition: background 0.1s ease, color 0.1s ease;
  -webkit-transition: background 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease;
}
.feature-tile:hover {
  background-color: #74aa0e;
  cursor: pointer;
  color: #e2e2e2;
  border: 1px solid #84c210;
}
.feature-tile i {
  font-size: 5em;
  line-height: 1.5;
}
.map-size {
  width: 680px;
  height: 460px;
}
.tile-lg {
  height: 260px;
}
.tile-sm {
  height: 125px;
}
